:root {
  --primary-text-color: #757575;
  --title-text-color: #757575;
  --accent-volor: #ffffff;
}
body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}
.logo {
  text-decoration: none;
  color: #2196f3;
  width: 145px;
  height: 31px;
  font-family: Raleway;

  font-size: 26px;
  line-height: 1.19;
}
.logo span {
  color: black;
}

.link:hover,
.link:focus {
  color: #2196f3;
}
.link {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}
li {
  list-style-type: none;
}
.nav-contacs a {
  text-decoration: none;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}
.nav-contacs a:hover,
.nav-contacs a:focus {
  color: #2196f3;
}

.button {
  text-decoration: none;
  background-color: #2196f3;
  color: #ffffff;
}
h1,
h2,
h3,
p {
  color: #212121;
}
/* comand  */
.comand p {
  color: #757575;

  font-size: 16px;
  line-height: 1.18;
}
.comand h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

/* footer  */
footer {
  background-color: #2f303a;
}
.address {
  font-style: normal;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address-contant a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}
/* hero */
.hero {
  background-color: #2f303a;
}
.title-hero {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.features h3 {
  font-size: 14px;
  line-height: 1.14;
}
.features p {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}
/*Портфолио*/
.our-work {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.portfolio h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.portfolio p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
